[Unit]
Description=heightmapper.hillshade.io

[Service]
ExecStart=/home/arctair/hillshade.io/heightmapper/scripts/execstart
Type=simple
WorkingDirectory=/home/arctair/hillshade.io/heightmapper

[Install]
WantedBy=default.target
