[Unit]
Description=api.hillshade.io

[Service]
Environment=PORT=8090
ExecStart=/usr/local/bin/npm start
Type=simple
WorkingDirectory=/home/arctair/hillshade.io/api

[Install]
WantedBy=default.target
